.historicontainer {
    padding: 82px 75px 90px 75px;
    .presentation {
        background-image: url('/public/images/mp4-4.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}