$F1-color: #E10600;
$white: #fff;
$footerfill: #241F2D;
$squada: 'Squada One', sans-serif;
$bruno: 'Bruno Ace', sans-serif;
$RB: #23326A;
$MERC: #00E4CB;
$FER: #FF2800;
$MC: #FD8000;
$AM: #00665E;
$ALP: #0C1E2C;
$WILL: #001B52;
$ALPHA: #022946;
$ALFA: #981E32;
$HAAS: #fff;
$black: #000;
$outline: #727272;
$bebas: 'Bebas Neue', sans-serif;
$winner_btn: #4E3681;